<h1> Attribute Directives</h1>
<h2>ngClass / ngStyle</h2>

<div [ngClass]="{border:false,background:true}"></div>
<div [ngStyle]="{'background-color':'red'}"></div>

<h3>Custom Directive</h3>
<div highlight='blue' [defaultColor]="'red'">hello</div>

<hr>
<h3>structural directive</h3>
<h3>*ngif</h3>
<div *ngIf="toggle">hello im here</div>
<button (click)="onselect()">Toggle</button>

<h3>*ngFor</h3>
<ul>
   <li *ngFor="let item of items;let i = index">{{item}}- index {{i}}</li>
</ul> 

<h3>*ngswitch</h3>
<div [ngSwitch]="value">
  <p *ngSwitchCase="10">10</p>
  <p *ngSwitchCase="20">20</p>
  <p *ngSwitchCase="30">30</p>
  <p *ngSwitchDefault>40</p>
</div>

<h3>custum structural directives</h3>

<div *unless="toggle">custum structural directives unless:true</div>

<div *ngIf="toggle">ngIf:true</div>
<button (click)="onselect()">Toggle</button>